
@using Insectic.InsecticData
@model Insectic.Models.TicketJsonModel

@{
    Layout = "_InsecticLayout";

}


@section LinkOne
{
    <link rel="stylesheet" href="/css/CreateTicket.css">
}

@section Title
{Edit Ticket}

<div class="FullTop">
    <h1>Edit Ticket From</h1>
</div>

<form method="post" class="TicketForm">
    <div class=headerTop>
        <h1>Edit Ticket @Model.TicketId</h1>
    </div>
    <div class="Category">
        <div>
            <label asp-for="TicketId">Ticket:</label>
            <input asp-for="TicketId" value="@Model.TicketId" readonly/>

        </div>
        <div>
            <label asp-for="Category">BugCategory:</label>
            <select name="Category" id="Category">
                <option value="@Model.Category">@Model.Category</option>
                <option value="Functionality Error">Functionality Error</option>
                <option value="Logic Error">Logic Error</option>
                <option value="Syntactic Error">Syntactic Error</option>
                <option value="Error Handling Error">Error Handling Error</option>
                <option value="Calculation Error">Calculation Error</option>
                <option value="Security Defect">Security Defect</option>
            </select>
        </div>
        <div>
            <label asp-for="Priority">Priority:</label>
            <select name="Priority" id="Priority">
                <option value="@Model.Priority">@Model.Priority</option>
                <option value="Urgent">Urgent</option>
                <option value="High">High</option>
                <option value="Routine">Routine</option>
                <option value="Low">Low</option>
            </select>
        </div>
        <div>
            <label asp-for="Status">CurrentStatus:</label>
            <select name="Status" id="Status">
                <option value="@Model.Status">@Model.Status</option>
                <option value="Awtg Assignment">Awtg. Assignment</option>
                <option value="In Progress">In Progress</option>
                <option value="Pending Closure">Pending Closure</option>
                <option value="Closed">Close</option>
            </select>
        </div>
    </div>

    <div class="Users">
        <div class="dropdown">
            <label asp-for="UserId">Originating User:</label>
            <input asp-for="UserId" value="@Model.UserId" readonly />
            <label asp-for="AssignedUser">Assign to:</label>
            <select name="AssignedUser" id="AssignedUser">
                <option value="@Model.AssignedUser">@Model.AssignedUser</option>
                @{

                    foreach (var user in UserApiRepository.GetAllUsers())
                    {
                        <option value="@user.Email">@user.FirstName @user.LastName</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="Dates">

        <div>
            <label asp-for="IncidentDate">Incident Date:</label>
            <input type="text" id="IncidentDate" name="IncidentDate" value="@Model.IncidentDate" readonly/>
        </div>

        <div>
            <label asp-for="DueDate">Due Date</label>
            <input type="datetime-local" id="DueDate" name="DueDate">
        </div>

    </div>
    <div class="TBL">
        <label asp-for="TicketDescription">Ticket Description</label>
    </div>
    <div class="TextB">
        <textarea class="textinput" name="TicketDescription" cols="105" rows="10"
                  placeholder="Please enter detailed account of current issue and actions already taken." readonly>@Model.TicketDescription</textarea>
        <input type="submit" class="submit-button" value="Confirm Ticket Changes">
    </div>


</form>