
@model IEnumerable<Insectic.Models.TicketJsonModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_InsecticDefault";

}
@section Title
{View Tickets}
<h1 class="heading sticky-top">Index</h1>
@section LinkOne
{<link rel="stylesheet" href="/css/ViewTickets.css">}

<div class="container">
<table class="table">
    <thead class="sticky-top">
    <tr>
        <th class="sticky-top">
            @Html.DisplayNameFor(model => model.TicketId)
        </th>
        <th class="sticky-top">
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th class="sticky-top">
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th class="sticky-top">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th class="sticky-top">
            @Html.DisplayNameFor(model => model.IncidentDate)
        </th>
        <th class="sticky-top">
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th class="sticky-top">
            @Html.DisplayNameFor(model => model.TicketDescription)
        </th>
        <th class="sticky-top">
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th class="sticky-top ">
            <form asp-controller="TicketPages" asp-action="Filter" method="post" class="d-inline-block">
                <select name="sortBy" id="sortBy" class="d-inline-block">
                    <option value="0">Filter by</option>
                    <option value="TicketId">Ticket ID</option>
                    <option value="Category">Category</option>
                    <option value="Status">Status</option>
                    <option value="IncidentDate">Incident Date</option>
                    <option value="DueDate">Due Date</option>
                    <option value="UserId">User ID</option>
                </select>
                <input type="submit"/>
            </form>
        </th>
    </tr>
    </thead>
    <tbody> 
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
    </div>