@using System.Collections
@using Insectic.BLL
@using Insectic.InsecticData

@{
    Layout = "_Layout";
}
@section LinkOne{
    <link rel="stylesheet" href="/css/Dash.css">
}

@section Title
{CorkBoard}

<div class="SideContent">
    <table>
        <div class="tableHeader">
            <h2 id=table-header>Scrum Board Doing</h2>
            <a href="#"><span class="material-icons">add_circle_outline</span></a>
        </div>
        <thead>
            <tr>
                <th>Current Sprint</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td>//Todo:</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="Box Box1">

    <div class="top-box">
        <h1>@TicketLogic.CountTicketCategory().Item1</h1>
        <h2>Urgent</h2>
    </div>

    <div class="bottom-box">
        <table>
            <thead>
                <tr>
                    <th colspan=3>Urgent Priority Tickets</th>
                </tr>
                <tr>
                    <th>Ticket Id</th>
                    <th>Ticket Description</th>
                    <th>Ticket Status</th>
                </tr>
            </thead>
            <tbody>

            @foreach (var ticket in TicketApiRepository.GetAllTickets().Where(x=> x.Priority.ToLower().Equals("urgent") && x.Status.ToLower() != "closed"))
            {
                <tr>
                    <td>@ticket.TicketId</td>
                    <td><a asp-action="#">@TicketLogic.TruncateAtWord(ticket,50)</a></td>
                    <td>@ticket.Status</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>

<div class="Box Box2">

    <div class="top-box">
        <h1>@TicketLogic.CountTicketCategory().Item3</h1>
        <h2>Routine</h2>
    </div>

    <div class="bottom-box">
        <table>
            <thead>
                <tr>
                    <th colspan=3>Routine Priority Tickets</th>
                </tr>
                <tr>
                    <th>Ticket Id</th>
                    <th>Ticket Description</th>
                    <th>Ticket Status</th>
                </tr>
            </thead>
            <tbody>

            @foreach (var ticket in TicketApiRepository.GetAllTickets().Where(x=> x.Priority.ToLower().Equals("routine") && x.Status.ToLower() != "closed"))
            {
                        
                <tr>
                    <td>@ticket.TicketId</td>
                    <td>@ticket.TicketDescription</td>
                    <td>@ticket.Status</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="example1 FreeSpace">

</div>


<div class="Box Box3">

    <div class="top-box">
        <h1>@TicketLogic.CountTicketCategory().Item4</h1>
        <h2>Low</h2>
    </div>

    <div class="bottom-box">
        <table>
            <thead>
                <tr>
                    <th colspan=3>Low Priority Tickets</th>
                </tr>
                <tr>
                    <th>Ticket Id</th>
                    <th>Ticket Description</th>
                    <th>Ticket Status</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var ticket in TicketApiRepository.GetAllTickets().Where(x=> x.Priority.ToLower().Equals("low") && x.Status.ToLower() != "closed"))
            {
                Console.WriteLine(ticket.TicketId);
                <tr>
                    <td>@ticket.TicketId</td>
                    <td>@ticket.TicketDescription</td>
                    <td>@ticket.Status</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="Box Box4">

    <div class="top-box">
        <h1>@TicketLogic.CountTicketCategory().Item2</h1>
        <h2>High</h2>
    </div>

    <div class="bottom-box">
        <table>
            <thead>
                <tr>
                    <th colspan=3>High Priority Tickets</th>
                </tr>
                <tr>
                    <th>Ticket Id</th>
                    <th>Ticket Description</th>
                    <th>Ticket Status</th>
                </tr>
            </thead>
            <tbody>

            @foreach (var ticket in TicketApiRepository.GetAllTickets().Where(x=> x.Priority.ToLower().Equals("high") && x.Status.ToLower() != "closed"))
            {
                <tr>
                    <td>@ticket.TicketId</td>
                    <td><a asp-action="#">@TicketLogic.TruncateAtWord(ticket,50)</a></td>
                    <td>@ticket.Status</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>
<div class="StickyNotes">
    <marquee behavior="scroll" direction="left" scrollamount="2">My scrolling analytics text</marquee>
</div>
