@using System.Collections

@{
    Layout = "_InsecticDefault";
}
@section LinkOne
{
    <link rel="stylesheet" href="/css/Dashboard.css">
}


@section Title
{CorkBoard}


<div class="left-section">
    <div class="todo-list">
        <table>
            <h2 id=table-header>Todo://</h2>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="ticket-id">#Razor ID</td>
                    <td>#Razor Desc</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="right-section">
    <div class="top-boxes">
        <div class="box4-1 urgent">
            <div class="insideTop ">
                <h1>@TicketRepository.CountTicketCategory(@TicketRepository.Tickets).Item1</h1>
                <h3> Urgent Tickets</h3>
            </div>
            <div class="insideBottom">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">Urgent Tickets</th>
                        </tr>
                        <tr>
                            <th>Ticket Id</th>
                            <th>Ticket Description</th>
                            <th>Ticket status</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                  
                    @foreach (var ticket in TicketRepository.Tickets.Where(x=> x.Priority.Equals(1)))
                    {
                        Console.WriteLine(ticket.TicketId);
                        <tr>
                            <td>@ticket.TicketId</td>
                            <td>@ticket.TicketDescription</td>
                            <td>@ticket.Status</td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="box4-1 box-two">
            <div class="insideTop">
                <h1>@TicketRepository.CountTicketCategory(@TicketRepository.Tickets).Item2</h1>
                <h3> Routine Tickets</h3>
            </div>
            <div class="insideBottom">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">Routine Tickets</th>
                        </tr>
                        <tr>
                            <th>Ticket Id</th>
                            <th>Ticket Description</th>
                            <th>Ticket status</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var ticket in TicketRepository.Tickets.Where(x=> x.Priority.Equals(3)))
                    {
                        Console.WriteLine(ticket.TicketId);
                        <tr>
                            <td>@ticket.TicketId</td>
                            <td>@ticket.TicketDescription</td>
                            <td>@ticket.Status</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="bottom-boxes">
        <div class="box4-1 reg box-four">
            <div class="insideTop ">
                <h1>@TicketRepository.CountTicketCategory(@TicketRepository.Tickets).Item3</h1>
                <h3> New Tickets</h3>
            </div>
            <div class="insideBottom">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">High</th>
                        </tr>
                        <tr>
                            <th>Ticket Id</th>
                            <th>Ticket Description</th>
                            <th>Ticket status</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var ticket in TicketRepository.Tickets.Where(x=> x.Priority.Equals(2)))
                    {
                        Console.WriteLine(ticket.TicketId);
                        <tr>
                            <td>@ticket.TicketId</td>
                            <td>@ticket.TicketDescription</td>
                            <td>@ticket.Status</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box4-1 reg box-three">
            <div class="insideTop">
                <h1>@TicketRepository.CountTicketCategory(@TicketRepository.Tickets).Item4</h1>
                <h3> Closed tickets</h3>
            </div>
            <div class="insideBottom">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">Low</th>
                        </tr>
                        <tr>
                            <th>Ticket Id</th>
                            <th>Ticket Description</th>
                            <th>Ticket status</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var ticket in TicketRepository.Tickets.Where(x=> x.Priority.Equals(4)))
                    {
                        Console.WriteLine(ticket.TicketId);
                        <tr>
                            <td>@ticket.TicketId</td>
                            <td>@ticket.TicketDescription</td>
                            <td>@ticket.Status</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>